.scrollable-menu {
    height: auto;
    max-height: 300px;
    overflow-x: hidden;
}

body  {
    background-image: url("../img/background.jpg");
      -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
}